html{
  overflow-x: hidden;
  height: 100%;
}
body{
  background-color: #B4B2AD;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}
main{
  height: 100%;
}

header{
  background-color: #EDEBEB;
  width: 100%;
  height: 60px;
  margin: 0;
}

header h1{
  margin: 0;
  color: #585252;
  position: relative;
  top: 20px;
  left: 20px;
  font-family: 'Apple Symbols',sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
}


.main-visual{
  background-image: url(../img/tulip2.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	height: 200px;
}
.name{
  display: flex;
  position: relative;
  top: 70px;
  left: 80px;
  width: 100%;
}
.prf-icon img{
  border-radius: 50%;
  border: 1px solid #443f3f;
  margin-right: 20px;
}
.prf{
  font-size: 10px;
  font-family: expo-serif-pro, serif;
  color: #443f3f;
}
.prf h1{
  font-weight: normal;
}
.start{
  position: relative;
  text-align: center;
  top: 150px;
}
.btn-circle-border{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  text-align: center;
  color: #443f3f;
  width: 100px;
  border: double 4px #443f3f;
  border-radius: 3px;
  transition: .4s;
}
.btn-circle-border:hover {
  background: #909090;
  color: #fff;
  border: solid 2px #fff;
}

footer{
  font-family: expo-serif-pro, serif;
  text-align: center;
}

@media (min-width:540px)  {
  body{
    background-color: #B4B2AD;
    margin: 0;
    overflow-x: hidden;
  }
  header{
    height: 80px;
  }
  header h1{
    margin: 0;
    color: #585252;
    position: relative;
    left: 50px;
    top: 30px;
    font-family: 'Apple Symbols',sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 26px;
  }
  .main-Visual{
    background-image: url(../img/tulip2.jpg);
  	background-size: cover;
  	background-position: center;
  	display: flex;
  	align-items: center;
    height: 700px;
  }
  .name{
    display: flex;
    position: relative;
    text-align: center;
    top: 130px;
    left: 90px;
    width: 100%;
  }
  .prf-icon img{
    border-radius: 50%;
    border: 1px solid #443f3f;
    margin-right: 20px;
    height: 100px;
    width: 100px;
  }
  .prf{
    font-size: 17px;
    font-family: expo-serif-pro, serif;
    color: #443f3f;
    position: relative;
    bottom: 10px;
  }
  .prf h1{
    font-weight: normal;
    font-size: 30px;
  }
  .start{
    position: relative;
    text-align: center;
    top: 180px;
  }
  footer{
    position: relative;
    top: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

}

@media (min-width:1200px) {
  body{
    background-color: #B4B2AD;
    margin: 0;
    overflow-x: hidden;
  }
  header{
    height: 80px;
  }
  header h1{
    margin: 0;
    color: #585252;
    position: relative;
    left: 50px;
    top: 30px;
    font-family: 'Apple Symbols',sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
  }

  .main-visual{
    background-image: url(../img/tulip2.jpg);
  	background-size: cover;
  	background-position: center;
  	display: flex;
  	align-items: center;
  	height: 710px;
  }

  .name{
    display: flex;
    position: relative;
    text-align: center;
    top: 130px;
    left: 500px;
    width: 100%;
  }
  .prf-icon img{
    border-radius: 50%;
    border: 1px solid #443f3f;
    margin-right: 50px;
    height: 130px;
    width: 130px;
  }
  .prf{
    font-size: 17px;
    font-family: expo-serif-pro, serif;
    color: #443f3f;
    position: relative;
    top: 10px;
  }
  .prf h1{
    font-weight: normal;
  }

  .start{
    position: relative;
    text-align: center;
    top: 200px;
  }
  footer{
    position: relative;
    top: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

}
