/* 全体 */
html {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  background-color: #7A9383;

}
.titleText h1 {
  text-align: center;
  color: #fff;
  position: relative;
  top: 150px;
  font-family: 'Island Moments', cursive;
  font-size: 120px;
  letter-spacing: 1rem;
  margin: 0;
}
.titleText p {
  text-align: center;
  color: #fff;
  position: relative;
  top: 150px;
  font-size: 50px;
  letter-spacing: 0.7rem;
  font-family: 'Island Moments', cursive;
  font-family: 'Mukta', sans-serif;
  margin: 0;
}
.btnText {
  text-align: center;
  position: relative;
  top: 230px;
}
button {
  margin: 10px;
  width: 150px;
  height: 40px;
  border-radius: 50px;
  border: 2px solid #DADADA;
  background-color: #61786A;
  color: #fff;
  letter-spacing: 0.2rem;
}
