html{
  overflow-x: hidden;
  height: 100%;
}
body{
  background-color: #fff;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}
main{
  height: 100%;
}

header{
  background-color: #fff;
  width: 100%;
  height: 60px;
  margin: 0;
  border-bottom: 1px solid #585252;
}

header h1{
  margin: 0;
  color: #585252;
  position: relative;
  top: 20px;
  left: 20px;
  font-family: 'Apple Symbols',sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
}

.name{
  display: flex;

}

footer{
  font-family: expo-serif-pro, serif;
  text-align: center;
}

@media screen and (max-width: 959px)  {
  body{
    background-color: #fff;
    margin: 0;
    overflow-x: hidden;
  }
  header{
    height: 80px;
  }
  header h1{
    margin: 0;
    color: #585252;
    position: relative;
    left: 50px;
    top: 30px;
    font-family: 'Apple Symbols',sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 26px;
  }
  .name{
    display: flex;
  }
  footer{
    position: relative;
    top: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (min-width:1200px) {
  body{
    background-color: #fff;
    margin: 0;
    overflow-x: hidden;
    position: relative;
  }
  header{
    height: 80px;
    overflow: hidden;
  }
  header h1{
    margin: 0;
    color: #585252;
    position: absolute;
    left: 60px;
    top: 33px;
    font-family: 'Apple Symbols',sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 26px;
  }
  .mainTitle1 h1{
    font-family: 'Baskerville',sans-serif;
    position: relative;
    top: 100px;
    text-align: center;
    color: #585252;
    text-shadow: 1px 3px 7px #FFF;
  }
  .name{
    position: absolute;
    background-color: #E8E4E1;
    height: 700px;
    width: 100%;
  }
  .mainImage img{
    border-radius: 200px 20px 50px 0px;
    position: absolute;
    top: 200px;
    left: 150px;
    margin-right: 100px;
  }
  .title{
    position: relative;
    top: 30px;
    left: 650px;
  }
  .title h1{
    font-weight: normal;
    font-size: 40px;
    font-family: 'Baskerville',sans-serif;
  }
  .mainInfo{
    position: absolute;
    top: 280px;
    left: 750px;
  }
  .mainInfo h1{
    font-family: 'Baskerville',sans-serif;
    font-weight: normal;
    font-size: 50px;
  }
  .mainInfo p{
    font-family: 'TsukuARdGothic-Regular',sans-serif;
  }
  .leaf-ai img{
    position: absolute;
    left: 900px;
    top: 160px;
    width: 400px;
    height: 250px;
  }
  .profile h1{
    font-family: 'Baskerville',sans-serif;
    font-weight: normal;
    font-size: 30px;
  }
  .portfolio{
    position: absolute;
    top: 780px;
    background-color: #fff;
    height: 700px;
    width: 100%;
  }
  .start a{
    color: #585252;
    position: relative;
    top: 570px;
    left: 840px;
  }
  .ai-list{
    margin-top: 100px;
  }
  .ai-list img{
    flex-wrap: wrap;
    margin-left: 70px;
  }

  footer{

  }

}
