html {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
	font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
	line-height: 2.0em;
	letter-spacing: 0.2em;
}
body {
  margin: 0;
  height: 100%;
  background-color: #F0F0F4;
}
header {
  margin: 0;
  height: 80px;
  background-color: #fff;
}
header h1{
  margin: 0;
  position: relative;
  top: 30px;
  left: 100px;
  font-size: 25px;
  letter-spacing: 0.3em;
  font-family: 'Avenir',sans-serif;
  font-weight: normal;
  color: #3E3F42;
}
/* SNSリンク */
.snsLink {
  position:  relative;
  left: 1000px;
  bottom: 25px;
}
.follow-me {
  list-style: none;
  margin: 10px;
  overflow: hidden;
  padding: 0;
}
.follow-me li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
}
.follow-me li a::before {
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 42px; /* Button height */
  line-height: 42px; /* Button height */
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-align: center;
  width: 42px; /* Button width */
}
.follow-me li a[href*="facebook.com"]::before {
  border-color: #3b5998;
  color: #3b5998;
  content: "\f09a";
}
.follow-me li a[href*="github.com"]::before {
  border-color: #181717;
  color: #181717;
  content: "\f09b";
}
.follow-me li a[href*="instagram.com"]::before {
  border-color: #125688;
  color: #125688;
  content: "\f16d";
}
.follow-me li a[href*="twitter.com"]::before {
  border-color: #55acee;
  color: #55acee;
  content: "\f099";
}
.follow-me li a[href*="youtube.com"]::before {
  border-color: #cd201f;
  color: #cd201f;
  content: "\f16a";
}
.follow-me li a[href*="facebook.com"]:hover::before {
  background-color: #3b5998;
  color: #fff;
}
.follow-me li a[href*="github.com"]:hover::before {
  background-color: #181717;
  color: #fff;
}
.follow-me li a[href*="instagram.com"]:hover::before {
  background-color: #125688;
  color: #fff;
}
.follow-me li a[href*="twitter.com"]:hover::before {
  background-color: #55acee;
  color: #fff;
}
.follow-me li a[href*="youtube.com"]:hover::before {
  background-color: #cd201f;
  color: #fff;
}

/* メインコンテンツ */
.secTitle h1 {
	font-family: 'Avenir',sans-serif;
  font-weight: normal;
  font-size: 30px;
  letter-spacing: 0.3em;
  color: #3E3F42;
  text-align:  center;
	position: relative;
	margin: 0;
	top: 100px;
}
.secTitle {
  text-align: center;
  position: relative;
  top: 50px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.secTitle p {
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
  letter-spacing: 0.15em;
  line-height: 2.0em;
  position: relative;
  top: 150px;
  color: #3E3F42;
}

/* コンテンツ */
.bnDesign {
  display: flex;
  position: relative;
  flex-wrap:wrap;
  top: 200px;
}
.bnDesign1 img {
  margin: 50px;
}
.bnDesign2 img {
  margin: 50px;
}
.bnDesign3 img {
  margin: 50px;
}
.bnDesign4 img {
  margin: 50px;
}
.bnDesign5 img {
  margin: 50px;
}
.bnDesign1:hover img {
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
.bnDesign2:hover img {
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
.bnDesign3:hover img {
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
.bnDesign4:hover img {
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
.bnDesign5:hover img {
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
.bnDesign1 p, .bnDesign2 p, .bnDesign3 p, .bnDesign4 p, .bnDesign5 p {
  position: relative;
  left: 50px;
  bottom: 50px;
  font-size: 15px;
}


/* SP */
@media screen and (max-width: 480px){
  /* 全体 */
  html {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #F3F6FA;
  }

  /* ヘッダー */
  header {
    margin: 0;
    height: 100px;
    background-color: #fff;
  }
  header h1{
    margin: 0;
    position: relative;
    text-align: center;
    top: 40px;
    left: 0px;
    font-size: 20px;
    letter-spacing: 0.3em;
    font-family: 'Avenir',sans-serif;
    font-weight: normal;
    color: #3E3F42;
  }

  /* メインコンテンツ */
  .banner {
    width: 100%;
    height: 800px;
  }
  .secTitle h1 {
  	font-family: 'Avenir',sans-serif;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.3em;
    color: #3E3F42;
    text-align:  center;
  	position: relative;
  	margin: 0;
  	top: 0px;
  }
  .secTitle {
    text-align: center;
    position: relative;
    top: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .secTitle p {
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
    letter-spacing: 0.15em;
    line-height: 2.0em;
    position: relative;
    top: 50px;
    color: #3E3F42;
    font-size: 10px;
    margin: 30px;
  }

  /* SNSリンク */
  .snsLink {
    display: none;
  }
  .follow-me {
    display: none;
  }
  .follow-me li {
    display: none;
  }
  .follow-me li a::before {
    display: none;
  }
  .follow-me li a[href*="facebook.com"]::before {
    display: none;
  }
  .follow-me li a[href*="github.com"]::before {
    display: none;
  }
  .follow-me li a[href*="instagram.com"]::before {
    display: none;
  }
  .follow-me li a[href*="twitter.com"]::before {
    display: none;
  }
  .follow-me li a[href*="youtube.com"]::before {
    display: none;
  }
  .follow-me li a[href*="facebook.com"]:hover::before {
    display: none;
  }
  .follow-me li a[href*="github.com"]:hover::before {
    display: none;
  }
  .follow-me li a[href*="instagram.com"]:hover::before {
    background-color: #125688;
    color: #fff;
  }
  .follow-me li a[href*="twitter.com"]:hover::before {
    display: none;
  }
  .follow-me li a[href*="youtube.com"]:hover::before {
    display: none;
  }


  /* コンテンツ */
  .bnDesign {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap:wrap;
    top: 100px;
    width: 100%;
    text-align: center;
  }
  .bnDesign img {
    margin: 10px;
    position: relative;
    left: 0px;
  }
  .bnDesign1 img {
    width: 270px;
    height: 250px;
  }
  .bnDesign2 img {
    width: 250px;
    height: 250px;
  }
  .bnDesign3 img {
    height: 170px;
    width: 300px;
  }
  .bnDesign4 img {
    height: 250px;
    width: 250px;
  }
  .bnDesign5 img {
    width: 330px;
    height: 80px;
  }
  .bnDesign1:hover img, .bnDesign2:hover img, .bnDesign3:hover img, .bnDesign4:hover img, .bnDesign5:hover img, {
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    transform: translateY(-10px);
    transition-duration: 0.5s;
  }
  .bnDesign1 p, .bnDesign2 p, .bnDesign3 p, .bnDesign4 p, .bnDesign5 p{
    position: relative;
    top: 0px;
    left: 0px;
    bottom: 0px;
    margin-bottom: 50px;
    font-size: 10px;
    letter-spacing: 0.15em;
    line-height: 2.0em;
  }

}
